<fieldset>
  <legend><%= l(:legend_bottom_summary_line_settings) %></legend>
  <p>
    <label><%= l(:setting_show_bottom_summary_line_on_issuelists) %></label>
    <%= check_box_tag 'settings[show_bottom_summary_line_on_issuelists]', 1, @settings['show_bottom_summary_line_on_issuelists'] == '1', :onclick=>"Element.toggle('bottom_summary_line_settings'); return true;" %>
  </p>
  <div id="bottom_summary_line_settings" <%= @settings['show_bottom_summary_line_on_issuelists'] == '1' ? '' : 'style="display:none"' %>>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_estimated_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_estimated_hours]', 1, @settings['show_bottom_summary_line_estimated_hours'] == '1' %>
    </p>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_spent_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_spent_hours]', 1, @settings['show_bottom_summary_line_spent_hours'] == '1' %>
    </p>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_calculated_spent_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_calculated_spent_hours]', 1, @settings['show_bottom_summary_line_calculated_spent_hours'] == '1' %>
    </p>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_divergent_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_divergent_hours]', 1, @settings['show_bottom_summary_line_divergent_hours'] == '1' %>
    </p>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_calculated_remaining_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_calculated_remaining_hours]', 1, @settings['show_bottom_summary_line_calculated_remaining_hours'] == '1' %>
    </p>
    <p>
      <label><%= l(:setting_show_bottom_summary_line_remaining_hours) %></label>
      <%= check_box_tag 'settings[show_bottom_summary_line_remaining_hours]', 1, @settings['show_bottom_summary_line_remaining_hours'] == '1' %>
    </p>
  </div>
</fieldset>

<fieldset>
  <legend><%= l(:legend_column_settings) %></legend>
  <p>
    <label><%= l(:setting_enable_spent_hours_column) %></label>
    <%= check_box_tag 'settings[enable_spent_hours_column]', 1, @settings['enable_spent_hours_column'] == '1' %>
  </p>
  <p>
    <label><%= l(:setting_enable_calculated_spent_hours_column) %></label>
    <%= check_box_tag 'settings[enable_calculated_spent_hours_column]', 1, @settings['enable_calculated_spent_hours_column'] == '1' %>
  </p>
  <p>
    <label><%= l(:setting_enable_divergent_hours_column) %></label>
    <%= check_box_tag 'settings[enable_divergent_hours_column]', 1, @settings['enable_divergent_hours_column'] == '1' %>
  </p>
  <p>
    <label><%= l(:setting_enable_calculated_remaining_hours_column) %></label>
    <%= check_box_tag 'settings[enable_calculated_remaining_hours_column]', 1, @settings['enable_calculated_remaining_hours_column'] == '1' %>
  </p>
  <p>
    <label><%= l(:setting_enable_remaining_hours_column) %></label>
    <%= check_box_tag 'settings[enable_remaining_hours_column]', 1, @settings['enable_remaining_hours_column'] == '1' %>
  </p>
</fieldset>
